# multi indexing 
#### a series with normal index have a one dimontional
#### but a series with multi index is 2 dimontional and beacuse it's two dimontional you can turn into dataFrame

####  a data Frame with normal index is two dimontinal is two dimontinal
####  a data frame with multi index is at least three dimontinal

In [23]:
import pandas as pd

In [24]:
stocks = pd.read_csv('http://bit.ly/smallstocks')

In [25]:
stocks

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

In [26]:
stocks.index

RangeIndex(start=0, stop=9, step=1)

In [27]:
stocks.groupby('Symbol').Close.mean()

Symbol
AAPL    112.856667
CSCO     31.480000
MSFT     57.433333
Name: Close, dtype: float64

In [28]:
ser = stocks.groupby(['Symbol', 'Date']).Close.mean()
ser # a series with multi index

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [50]:
ser.index

MultiIndex(levels=[['AAPL', 'CSCO', 'MSFT'], ['2016-10-03', '2016-10-04', '2016-10-05']],
           codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]],
           names=['Symbol', 'Date'])

In [51]:
# convert a series with multiIndex to DataFrame
ser.unstack()

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [52]:
df = stocks.pivot_table(values='Close', index='Symbol', columns='Date')# default agg function in pivot is mean
df

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [53]:
ser.index

MultiIndex(levels=[['AAPL', 'CSCO', 'MSFT'], ['2016-10-03', '2016-10-04', '2016-10-05']],
           codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]],
           names=['Symbol', 'Date'])

In [54]:
ser.loc['AAPL', '2016-10-03']

112.52

In [55]:
ser.loc[:, '2016-10-03']

Symbol
AAPL    112.52
CSCO     31.50
MSFT     57.42
Name: Close, dtype: float64

In [56]:
stocks

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

In [57]:
stocks.set_index(['Symbol', 'Date'], inplace=True)

KeyError: 'Symbol'

In [58]:
stocks.index

MultiIndex(levels=[['AAPL', 'CSCO', 'MSFT'], ['2016-10-03', '2016-10-04', '2016-10-05']],
           codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]],
           names=['Symbol', 'Date'])

In [59]:
stocks

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

In [63]:
stocks.sort_index(inplace=True)

In [64]:
stocks

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

In [65]:
stocks.loc['AAPL']

             Close    Volume
Date
2016-10-03  112.52  21701800
2016-10-04  113.00  29736800
2016-10-05  113.05  21453100

In [66]:
stocks.loc['AAPL', '2016-10-03']

Close          112.52
Volume    21701800.00
Name: (AAPL, 2016-10-03), dtype: float64

In [84]:
stocks.loc[('AAPL', '2016-10-03'), 'Close']# when you have multi index and you'te doing anything other than just selecting the outer level you're going to pass in the indices you want as a tuple comma and column you want

112.52

In [85]:
stocks.loc[(['AAPL', 'MSFT'], '2016-10-03' ), :]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500

In [86]:
# stocks.loc[(['AAPL', 'MSFT'], '2016-10-03' ), 'Close']
stocks.loc['MSFT', '2016-10-03']

Close           57.42
Volume    19189500.00
Name: (MSFT, 2016-10-03), dtype: float64

In [87]:
stocks.loc[('AAPL', ['2016-10-03', '2016-10-04'] ), :]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800

In [88]:
# what if i want these two days but i want all stocks

In [93]:
stocks.loc[(:, ['2016-10-03', '2016-10-04'] ), :]

SyntaxError: invalid syntax (<ipython-input-93-31777fde0942>, line 1)

In [97]:
stocks.loc[(slice(None), ['2016-10-03', '2016-10-04'] ), 'Close']

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
CSCO    2016-10-03     31.50
        2016-10-04     31.35
MSFT    2016-10-03     57.42
        2016-10-04     57.24
Name: Close, dtype: float64

In [ ]:
sto

In [ ]:
# volume = pd.read_csv('stocks.csv', usecols=[0, 2, 3], index_col=)